@import "./core/_flex";
@import "./core/_position";
@import "./core/_spacing";
@import "./core/_color";
@import "./core/_align";

@import "./comp/_button";
@import "./comp/_card";
@import "./comp/_notify";
@import "./comp/_breadcrumb";
@import "./comp/_input";
@import "./comp/_select";
@import "./comp/_datepicker";
@import "./comp/_tree";
@import "./comp/_progress";
@import "./comp/_carousel";
@import "./comp/_popover";
@import "./comp/_table";
@import "./comp/_loading";
@import "./comp/_modal";

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-primary);
}

p,
span {
  margin: 0;
}

dialog {
  padding: 0;
}

label {
  font-size: 12px;
}

// width & height
.fit {
  height: 100%;
  width: 100%;
}

.full-width {
  width: 100%;
  margin: 0;
}

.full-height {
  height: 100%;
  margin: 0;
}

// display
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}

.hidden {
  display: none;
}

// border
.round-border {
  border-radius: 50px !important;
}
.border-radius {
  border-radius: 4px;
}
.no-border {
  border: none !important;
}
.border-default {
  border: 1px solid #ddd;
}
.border-top-default {
  border-top: 1px solid #ddd;
}
.border-left-default {
  border-left: 1px solid #ddd;
}
.border-right-default {
  border-right: 1px solid #ddd;
}
.border-bottom-default {
  border-bottom: 1px solid #ddd;
}
.border-transparent {
  border: 1px solid transparent;
}

// transition
.transition-primary {
  transition: all ease 0.3s;
}

// shadow
.shadow-1 {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
}

// cursor
.cursor-pointer {
  cursor: pointer;
}

// overflow
.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-bold {
  font-weight: 600 !important;
}
// z-index
.z-top {
  z-index: 99999999999999999999999;
}
.z-middle {
  z-index: 999;
}
.font-normal {
  font-size: 12px;
}
.hidden {
  display: none !important;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
