.form-input {
  padding: 3px 5px;
  display: inline-block;
  text-overflow: ellipsis;
  font-size: 12px;
  position: relative;
  width: 180px;
  transition: all 0.3s ease;

  input,
  textarea {
    outline: none;
    border: none;
    font-size: inherit;
    width: 100%;
    min-height: 25px;
    width: 100%;
    color: inherit;
  }

  textarea {
    resize: vertical;
  }

  input:disabled,
  textarea:disabled {
    background-color: transparent;
    color: inherit;
  }

  input::-webkit-outer-spin-button,
  textarea::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.form-select {
  display: inline-block;
  width: 180px;
  cursor: pointer;

  input {
    cursor: pointer;
  }

  .selected-tip {
    display: inline-block;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    padding: 3px 5px;
    margin: 0 2px;
    cursor: pointer;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: #1493ff;
      color: #fff;
    }
  }

  .select-popover {
    max-height: 200px;
    overflow: auto;
  }

  ul {
    padding: 5px 0;

    li {
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 12px;
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}

// .f-form {

//   .form-item {
//     // padding: 4px 8px
//   }
// }

.form-group {
  display: inline-block;
}

.error > * {
  border-color: red !important;
  color: red;
}

.required {
  color: red;
  position: absolute;
  padding-left: 4px;
  display: inline-block;
}

.x-datepicker {
  width: 180px;

  .x-date-picker {
    width: 210px;

    .x-date-picker-header,
    .x-date-picker-body {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
    }
    .x-date-picker-header {
      padding-bottom: 5px;
    }

    .x-date-picker-body {
      .x-date-picker-cell {
        cursor: pointer;

        &:hover,
        &.active {
          background-color: var(--color-primary);
          color: #fff;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }

    .x-date-picker-cell {
      line-height: 30px;
      height: 30px;
      width: 30px;
      text-align: center;
      font-size: 12px;
      transition: all ease 0.3s;
      border-radius: 50%;
    }
  }
}
