.x-btn {
  cursor: pointer;
  font-size: 14px;
  position: relative;
  outline: none;
  border: 1px solid var(--color-light);
  border-radius: 4px;
  padding: 8px 15px;
  text-align: center;
  overflow: hidden;
  color: var(--color-faded);
  transition: all 0.2s;
  & + & {
    margin-left: 10px;
  }
  &:hover,
  &:focus {
    opacity: 0.75;
    transition: all 0.2s;
  }
  &:active {
    transition: all 0.2s;
    opacity: 0.95;
  }
}
.x-btn--small {
  font-size: 9px;
}
.x-btn--medium {
  font-size: 14px;
}
.x-btn--large {
  font-size: 16px;
}
.x-btn--default {
  color: #515a6e;
  background-color: #fff;
  border-color: #dcdee2;
  &:hover,
  &:focus {
    border-color: var(--color-primary);
    color: var(--color-primary);
  }
}
.x-btn--success {
  color: #fff;
  background-color: var(--color-success);
  border-color: var(--color-success);
}
.x-btn--error {
  color: #fff;
  background-color: var(--color-error);
  border-color: var(--color-error);
}
.x-btn.is-round {
  border-radius: 20px;
}
.x-btn--primary {
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.x-btn--text {
  color: var(--color-primary);
  background-color: transparent;
  border: none;
  padding-left: 0;
  padding-right: 0;
  &:hover {
    cursor: default;
    background-color: transparent;
  }
  & > span {
    cursor: pointer;
  }
}
.x-btn.is-long {
  width: 100%;
}
.x-btn.is-loading {
  position: relative;
  pointer-events: none;
  border: none;
  &:before {
    pointer-events: none;
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border-radius: inherit;
    background-color: rgba(255, 255, 255, 0.35);
  }
}
.x-btn.is-disabled {
  // position: relative;
  // pointer-events: none;
  border: none;
  // cursor: not-allowed;
  &:hover {
    opacity: 1;
    transition: none;
  }
  &:before {
    cursor: not-allowed;
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border-radius: inherit;
    background-color: rgba(255, 255, 255, 0.35);
  }
  cursor: not-allowed;
  background-image: none;
}
.x-btn.is-circle {
  width: 32px;
  height: 32px;
  padding: 0;
  font-size: 16px;
  border-radius: 50%;
}
.x-btn:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  //设置径向渐变
  // background-image: radial-gradient(circle, #666 10%, transparent 10.01%);
  // background-repeat: no-repeat;
  // background-position: 0% 0%;
  // transform: scale(10, 10);
  // opacity: 0;
  // transition: transform 0.5s, opacity 0.5s;
}

.x-btn:active:after {
  opacity: 0.3;
  //设置初始状态
  transition: 0.1s;
}
